<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico" />
	<title>出错了－沉稳，不乏可爱</title>
</head>
<body>
	<div class="container" style="margin-top:200px;">
		<center>
			<h3>
				对不起出错了！三秒后自动返回！如果不跳转，请点击下面链接 
			</h3>
			<h3><a href="/">目标页面</a> </h3>
		</center>
	</div>
	<script type="text/javascript">  
	   function delayURL(url, time) { 
	   setTimeout("top.location.href='" + url + "'", time); 
	   } 
	   delayURL("/", 3000); 
	</script>  
</body>
</html>