{{template "Tpl/T.header.tpl" }}
	<title>首页－沉稳，不乏可爱</title>
</head>
<body>
<div class="container">
	<nav class="navbar navbar-default" role="navigation">
		{{template "Tpl/T.navbar.tpl" .}}
	</nav>	
</div>

<div class="container">
	<div class="container-content">
		<div class="col-md-8">
			<div class="article-list-header">
				<h4>最新文章</h4>
			</div>
			<div class="article-list">
				<div class="page-header">
					<h4 class="article__title"><a href="/">测试标题</a></h4>
					<h6 class="text-muted">文章发表于 {{.Created}}，共有 {{.Views}} 次浏览， {{.ReplyCount}} 个评论</h6> 
					<p class="article__content">
						测试文本急急急解决急急急急急急急急急蜀都赋深度雷锋精神代理费蜀都赋sd卡福建是的看法但是的方式的发送的方式的发货速度快发货收快点和速度快恢复快速的恢复sd卡方式的发货sd卡和方式的富士康蜀都赋看电视福克斯点击回复开始的恢复开始电话费sd卡回复快速的和方式贷款和方式贷款和方式快递和方式快递和方式的开发和是肯定的......
					</p>
					<footer class="article_meta">
						<span class='glyphicon glyphicon-tags tags' aria-hidden="true"><a href="/">golang</a></span>
						<span class='glyphicon glyphicon-tags tags' aria-hidden="true"><a href="/">php</a></span>
						<span class='glyphicon glyphicon-tags tags' aria-hidden="true"><a href="/">javascript</a></span>
					</footer>
				</div>
				<div class="page-header">
					<h4 class="article__title"><a href="">测试标题</a></h4>
					<h6 class="text-muted">文章发表于 {{.Created}}，共有 {{.Views}} 次浏览， {{.ReplyCount}} 个评论</h6> 
					<p class="article__content">
						测试文本急急急解决急急急急急急急急急蜀都赋深度雷锋精神代理费蜀都赋sd卡福建是的看法但是的方式的发送的方式的发货速度快发货收快点和速度快恢复快速的恢复sd卡方式的发货sd卡和方式的富士康蜀都赋看电视福克斯点击回复开始的恢复开始电话费sd卡回复快速的和方式贷款和方式贷款和方式快递和方式快递和方式的开发和是肯定的......
					</p>
					<footer class="article_meta">
						<span class='glyphicon glyphicon-tags tags' aria-hidden="true"><a href="/">golang</a></span>
						<span class='glyphicon glyphicon-tags tags' aria-hidden="true"><a href="/">php</a></span>
						<span class='glyphicon glyphicon-tags tags' aria-hidden="true"><a href="/">javascript</a></span>
					</footer>
				</div>
				<div class="page-header">
					<h4 class="article__title"><a href="">测试标题</a></h4>
					<h6 class="text-muted">文章发表于 {{.Created}}，共有 {{.Views}} 次浏览， {{.ReplyCount}} 个评论</h6> 
					<p class="article__content">
						测试文本急急急解决急急急急急急急急急蜀都赋深度雷锋精神代理费蜀都赋sd卡福建是的看法但是的方式的发送的方式的发货速度快发货收快点和速度快恢复快速的恢复sd卡方式的发货sd卡和方式的富士康蜀都赋看电视福克斯点击回复开始的恢复开始电话费sd卡回复快速的和方式贷款和方式贷款和方式快递和方式快递和方式的开发和是肯定的......
					</p>
					<footer class="article_meta">
						<span class='glyphicon glyphicon-tags tags' aria-hidden="true"><a href="/">golang</a></span>
						<span class='glyphicon glyphicon-tags tags' aria-hidden="true"><a href="/">php</a></span>
						<span class='glyphicon glyphicon-tags tags' aria-hidden="true"><a href="/">javascript</a></span>
					</footer>
				</div>
				<div class="page-header">
					<h4 class="article__title"><a href="">测试标题</a></h4>
					<h6 class="text-muted">文章发表于 {{.Created}}，共有 {{.Views}} 次浏览， {{.ReplyCount}} 个评论</h6> 
					<p class="article__content">
						测试文本急急急解决急急急急急急急急急蜀都赋深度雷锋精神代理费蜀都赋sd卡福建是的看法但是的方式的发送的方式的发货速度快发货收快点和速度快恢复快速的恢复sd卡方式的发货sd卡和方式的富士康蜀都赋看电视福克斯点击回复开始的恢复开始电话费sd卡回复快速的和方式贷款和方式贷款和方式快递和方式快递和方式的开发和是肯定的......
					</p>
					<footer class="article_meta">
						<span class='glyphicon glyphicon-tags tags' aria-hidden="true"><a href="/">golang</a></span>
						<span class='glyphicon glyphicon-tags tags' aria-hidden="true"><a href="/">php</a></span>
						<span class='glyphicon glyphicon-tags tags' aria-hidden="true"><a href="/">javascript</a></span>
					</footer>
				</div>
			</div>	
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>	
<footer>
	<div class="container">
		<div class="footer">
			<p>© 2015 cwen All rights reserved. </p>
		</div>
	</div>
</footer>
	<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</body>
</html>