{{template "Tpl/T.header.tpl" }}
	<title>首页－沉稳，不乏可爱</title>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
	<div class="container">
			{{template "Tpl/T.navbar.tpl" .}}
	</div>
</nav>	

<div class="container">
	<div class="container-content">
		<div class="col-xs-12 col-sm-12 col-md-8">
			<div class="article-list-header">
				<h4>{{.HomeTitle}}</h4>
			</div>
			<div class="article-list">
			{{$LabelI := .LabelId}}
			{{$LabelN := .Label}}
			{{range $k,$v:=.Topics}}
				<div class="page-header">
					<h4 class="article__title"><a href="/topic?topicId={{$v.Id}}">{{$v.Title}}</a></h4>
					<h6 class="text-muted"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{$v.Created}}，共有 {{$v.Views}} 次浏览</h6> 
					<p class="article__content">
						{{$v.Summery}}
					</p>
					<footer class="article_meta">
						{{range $c,$w:=index $LabelI $k}}
						<a href="/?label={{$w}}"><span class='glyphicon glyphicon-tags tags' aria-hidden="true" ><span>{{index $LabelN $k $c}}</span></span></a>
						{{end}}
						
					</footer>
				</div>
			{{end}}

			</div>
			<div class="pagination">

			    {{ str2html .PageStr }}<!-- |markdown -->

			</div>	
		</div>

		<div class=" col-md-4">
			{{template "Tpl/T.right.tpl" .}}
		</div>
	</div>
</div>	
{{template "Tpl/T.footer.tpl" }}
	<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<script>
	$(document).ready(function() {
		var liActive = $("div .pagination ul span").parent("li")
		liActive.addClass('active');
	});
	</script>
</body>
</html>