{{template "Tpl/T.header.tpl" }}
	<title>{{.Topic.Title}}－沉稳，不乏可爱</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-markdown.min.css">
	<script type="text/javascript" src="/static/js/showdown.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
	<div class="container">
			{{template "Tpl/T.navbar.tpl" .}}
	</div>
</nav>	
<div class="container">
	<div class="container-content">
		<div class="col-md-8">
			<div class="article-list">
				<div class="article-list-header">
					<h4>{{.Topic.Title}}<small><small>&nbsp;&nbsp;&nbsp;&nbsp;分类：<a href="/?cate={{.Topic.Category}}">{{.Category}}</a></small></small></h4>
				</div>
				<div>
					<h6 class="text-muted"> <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{.Topic.Created}}，共有 {{.Topic.Views}} 次浏览</h6> 
					<br>
					<p class="">
							
							<script>
								var converter = new showdown.Converter();
							    	text  = {{str2html .Topic.Content}};
							    	content = converter.makeHtml(text);
							    	document.write(content);
							</script>
				     </p>
				</div>
				<br>
				<footer class="article_meta">
					{{range .Labels}}
					<a href="/?label={{.Id}}"><span class='glyphicon glyphicon-tags tags' aria-hidden="true" ><span>{{.Title}}</span></span></a>
					{{end}}
					</footer>
					<br>
					<br>
					<!-- 多说评论框 start -->
						<div class="ds-thread" data-thread-key="{{.Topic.Id}}" data-title="{{.Topic.Title}}" data-url="http://cwengo.com/topic?topicId={{.Topic.Id}}"></div>
					<!-- 多说评论框 end -->
					<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
					<script type="text/javascript">
					var duoshuoQuery = {short_name:"cwen"};
						(function() {
							var ds = document.createElement('script');
							ds.type = 'text/javascript';ds.async = true;
							ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
							ds.charset = 'UTF-8';
							(document.getElementsByTagName('head')[0] 
							 || document.getElementsByTagName('body')[0]).appendChild(ds);
						})();
						</script>
					<!-- 多说公共JS代码 end -->

				
			</div>
		</div>
		<div class="col-md-4">
			{{template "Tpl/T.right.tpl" .}}
		</div>
	</div>
</div>
{{template "Tpl/T.footer.tpl" }}
<!-- <script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/markdown.js"></script>
<script type="text/javascript"  src="/static/js/to-markdown.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-markdown.js"></script> -->
<!-- <script type="text/javascript" src="/static/js/marked.js"></script> 
<script>
var text = document.getElementById("content").text;
    document.getElementById('content').innerHTML =
      marked(text);
  </script> -->
</body>